{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

    <div id="title">
        <p>{{ team.code }}</p>
        <p>|</p>
        <p><strong>{{ team.name }}</strong></p>
    </div>
    


    <article>
        <p>Description: <strong>{{ team.description }}</strong></p>

        <p>Website: <strong>{{ team.website }}</strong></p>

        {% for player in players %}
            <article id="player">
                <a href="/player/{{ player.id }}">
                    {{ player.name }}
                </a>
                {{ player.notes}}
            </article>
        {% else %}
            <p>None!</p>
        {% endfor %}

    </article>

    <a role="button" href="/delete/{{ team.code }}" onclick="return confirm('Really delete?');">Delete Team</a>

    <a role="button" href="/">Back to Teams</a>

{% endblock %}

